.team{
   margin-top: auto auto;
    margin-top: 60px;
}

.team .col-lg-4{
    text-align: center;
    margin-bottom: 20px;
}

.team h2{
    color: rgba(50,50,50,0.8);
}

.team p{
    margin-left: 10px;
    margin-right: 10px;
}
.divider{
    margin: 40px 0;
}


.col-md-7{
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    
}