body{
    background: url("../images/gymbg.gif") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    overflow:hidden;
}


div{

    width: 50%;
    text-align: center;
    margin: 200px  auto;
/*    margin-right: 750px;*/
    background-color: #f03939;
    border-radius: 15px;
    opacity: 0.7;
}

button{
    background: #706565;
    color: black;   
    border-radius: 8px;
    padding: 7px;
    font-size: 1.5em;
    margin-bottom: 5px;
}
h1{
    font-size: 3em;
}
p{
    font-size: 2em;
}
i{
    font-size: 3em;
}
