*{
    font-family: 'Baloo Bhai 2', cursive;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body{
/*    min-height:  702px;*/
/*    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);*/
    background-image: linear-gradient(#52ACFF,#FFE32C);
    min-height: 800px;
}


h1{
    margin: 50px;
    
}

#userinput{
    max-width: 400px;
    max-height: 150px;
    margin: 0 auto;
    display: inline-block;    
}
.btn{
   margin: 20px 9px;
}